<h4>Add a comment:</h4>
<p>

<%= form_with model: [ @post, @post.comments.build ], local: false, id: "comment-form" do |form| %>

<div class="form-group">
  <div class="field>"
  <%= form.label :commenter, class: "form-label" %>
  <%= form.text_field :commenter, class: "h4 form-control", placeholder: "Comment text", required: true %>
  </div>
</div>
  
<div class="form-group">
  <div class="field">
    <%= form.label :body, {class: "form-label"} %>
    <%= form.text_area :body, class: "h4 form-control", placeholder: "Comment text", required: true %>
  </div>
</div>
  
<div class="actions">
  <%= form.submit class: "btn btn-primary" %>
</div>

<% end %>
</p>
